# Local Development Port
PORT=3000

# Groq AI Key for Chatbot
GROQ_API_KEY=

# Discord webhook URL (Optional)
DISCORD_WEBHOOK_URL=

# Telegram Bot configurations (Optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# SMTP Nodemailer Configurations (Optional)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
CONTACT_RECEIVER_EMAIL=vikash07052008@gmail.com
